@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-brand-900 text-slate-200 overflow-x-hidden;
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
  display: none; /* Hide scrollbar for mobile feel */
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
